& .top {
    width: 90%;
    height: 100%;
    @include position(center, space-between);
    @include sm{
        width: 85%;
    }

    & .logo-container {
        height: 100%;
        width: auto;
        @include position;

        & .Link {
            height: 50%;
            width: auto;

            & img {
                height: 100%;
                width: auto;

                &.logo {
                    @include sm {
                        display: none;
                    }
                }

                &.logosm {
                    display: none;

                    @include sm {
                        display: block;
                    }
                }
            }
        }

    }

    & .nav {
        & ul {
            display: flex;
            gap: 15px;
            list-style-type: none;

            & li {
                @include hover-animation(#8834b97e);

                & .linkSign {
                    font-size: small;
                }
            }
        }
    }
}